
.flex-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background-color: rgba(0,0,0, 0.7);
}

.logo-container{
    color: white;
}

.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li{
    list-style: none;
    padding: 20px;
}

.nav-links li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.action-container button{
    padding: 10px 20px;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.action-container button:hover{
    background-color: rgb(5, 118, 138);
}

.hero{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}